<div class="well">
	<form method="post" {{ form_enctype(form) }}>
    	
            {{ form_errors(form) }}
            <div>
                {{ form_label(form.feriePonts, "Jour férié (maintenez la touche CTRL pour selectionner plusieurs choix)") }}
                {{ form_errors(form.feriePonts) }}
                {{ form_widget(form.feriePonts) }}
            </div>          
            {{ form_rest(form) }}
            <div class="form-actions">
    	        <input type="submit" class="btn btn-primary"/>
    	    </div>
    </form>
</div>