<div class="well">
	<form method="post" {{ form_enctype(form) }}>
    	
            {{ form_errors(form) }}
            <div>
                {{ form_label(form.nom, "Nom") }}
                {{ form_errors(form.nom) }}
                {{ form_widget(form.nom) }}
            </div>
            <div>
                {{ form_label(form.prenom, "Prénom") }}
                {{ form_errors(form.prenom) }}
                {{ form_widget(form.prenom) }}
            </div>
            <div>
                {{ form_label(form.email, "E-mail") }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div>
                {# Petite manipe pour afficher les labels du champ plainPassword #}
                {% set monLabel = 'mdp' %}
                {% for passwordField in form.plainPassword %}
                    <div>
                        {% if monLabel == 'mdp' %}
                            {{ form_label(passwordField, "Mot de passe") }}
                            {% set monLabel = 'val' %}
                        {% else %}
                            {{ form_label(passwordField, "Validation") }}
                        {% endif %}
                        {{ form_errors(passwordField) }}
                        {{ form_widget(passwordField) }}
                    </div>
                {% endfor %}
            </div>
            <div>
                {{ form_label(form.entreeEntreprise, "Entrée dans l'entreprise") }}
                {{ form_errors(form.entreeEntreprise) }}
                {{ form_widget(form.entreeEntreprise) }}
            </div>
            <div>
                {{ form_label(form.cadre, "Cadre") }}
                {{ form_errors(form.cadre) }}
                {{ form_widget(form.cadre) }}
            </div>
            <div>
                {{ form_label(form.roles, "Cadre") }}
                {{ form_errors(form.roles) }}
                {{ form_widget(form.roles) }}
            </div>
            {{ form_rest(form) }}
            <div class="form-actions">
    	        <input type="submit" class="btn btn-primary"/>
    	    </div>
    </form>
</div>