{% extends 'RhUserBundle::layout.html.twig' %}
{% block fos_user_content %}
    <div class="row">
        <h2>Rechercher un chef</h2>
        <form method="get" action="{{ path('rhuser_listChef') }}" class="form-search">
            <p>Entrez le nom du chef <small>(ou les premières lettres du nom)</small> :</p>
            <input type="text" name="search"/>
            <input type="submit" class="btn btn-primary" value="Rechercher" />
        </form>
    
    {% if chefs is defined %}
        {% if chefs is not empty and chefs|length > 0 %}
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Nom d'utilisateur</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            {% for chef in chefs %}
                <tr>
                    <td>{{ chef.nom }}</td>
                    <td>{{ chef.prenom }}</td>
                    <td>{{ chef.username }}</td>
                    <td>
                        <a href="{{ path('rhuser_chef', {'id': chef.id}) }}" class="btn btn-mini btn-inverse">Editer l'équipe</a>
                    </td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
        {% elseif chefs is empty %}
            <div class="alert">
                <a class="close" data-dismiss="alert" href="#">x</a>
                <h4 class="alert-heading">Attention !</h4>
                Aucun chef n'a été trouvé. Veuillez faire une nouvelle recherche.
            </div>
        {% else %}
            
        {% endif %}
    {% endif %}
    </div>
{% endblock fos_user_content %}